body {
    font-family: 'Open Sans', sans-serif;
    transition: 0.5s;
    background: url("../files/bg-dark.jpg") no-repeat;
    backdrop-filter: blur(5px);
}

.settings-btn {
    width: 24px;
    height: 24px;
    background: url("../files/AdjustWhite.png") no-repeat;
    transform: translateZ(0);
    transition: 0.3s;
}

.settings-btn:hover {
    width: 24px;
    height: 24px;
    background: url("../files/AdjustHover.png") no-repeat;
    transform: translateZ(0);
    transition: 0.15s;
}

.settings-btn:active {
    width: 24px;
    height: 24px;
    background: url("../files/AdjustOnClick.png") no-repeat;
}

.min-btn {
    width: 24px;
    height: 24px;
    background: url("../files/MinimizeWhite.png") no-repeat;
    transform: translateZ(0);
    transition: 0.3s;
}

.min-btn:hover {
    width: 24px;
    height: 24px;
    background: url("../files/MinimizeHover.png") no-repeat;
}

.min-btn:active {
    width: 24px;
    height: 24px;
    background: url("../files/MinimizeOnClick.png") no-repeat;
}

.close-btn {
    width: 24px;
    height: 24px;
    background: url("../files/CloseWhite.png") no-repeat;
    transform: translateZ(0);
    transition: 0.3s;
}

.close-btn:hover {
    width: 24px;
    height: 24px;
    background: url("../files/CloseHover.png") no-repeat;
}

.close-btn:active {
    width: 24px;
    height: 24px;
    background: url("../files/CloseOnClick.png") no-repeat;
}

.themes-btn {
    width: 24px;
    height: 24px;
    background: url("../files/ThemesWhite.png") no-repeat;
    transform: translateZ(0);
    transition: 0.3s;
}

.themes-btn:hover {
    width: 24px;
    height: 24px;
    background: url("../files/ThemesHover.png") no-repeat;
}

.themes-btn:active {
    width: 24px;
    height: 24px;
    background: url("../files/ThemesOnClick.png") no-repeat;
}

.discord-btn {
    width: 24px;
    height: 24px;
    background: url("../files/DiscordWhite.png") no-repeat;
    transform: translateZ(0);
    transition: 0.3s;
}

.discord-btn:hover {
    width: 24px;
    height: 24px;
    background: url("../files/DiscordHover.png") no-repeat;
}

.discord-btn:active {
    width: 24px;
    height: 24px;
    background: url("../files/DiscordOnClick.png") no-repeat;
}

.switch {
    --line: #b0b1be;
    --dot: #f7f8ff;
    --circle: #9ea0be;
    --duration: 0.3s;
    --text: #9ea0be;
}

.text {
    color: white;
}

.image-head {
    border: solid white 3px;
}

.skin-preview-img {
    border: solid white 3px;
}

.help-tip {
    background-color: black;
}

.help-tip:before {
    color: #fff;
}

.help-tip p {
    background-color: #1E2021;
    color: #fff;
}

.visibilityBox {
    opacity: 0;
    background-color: black;
}